src/**
webview/src/**
webview/index.html
webview/tsconfig.json
webview/vite.config.ts
scripts/**
out/**
node_modules/**
*.vsix
tsconfig.json
vscode-test.mjs
**/*.map
dist/**/*.map
bin/*/README.md
media/screenshot-workbench.svg
.gitignore
!README.md
!CHANGELOG.md
!LICENSE
!SUPPORT.md
!SECURITY.md
!NOTICE.md
